<section class="first-section">
  <div class="overlay">
    <div class="text">
      <h1>Xbox series X</h1>
      <h3>PEDIDO ANTECIPADO</h3>
    </div>

    <div class="videogame-img" alt="videogame xbox imagem"></div>
  </div>
</section>

<section class="second-section">
  <div class="controler-text">
    <h2>
      <span>Desempenho</span>
      aperfeiçoado
    </h2>
    <p>
      O controle sem fio Xbox traz um design elegante, conforto refinado e
      compartilhamento instantâneo para um favorito comum.
    </p>
  </div>

  <img
    src="assets/images/png/controle-xbox.png"
    alt="Controle Xbox imagem"
    class="controler-img"
  />
</section>

<ng-container *ngIf="!isMobileView; else mobileView">
  <section class="third-section">
    <div class="games-banner game-one"></div>

    <div class="games-banner game-two"></div>

    <div class="games-banner game-three"></div>

    <div class="games-banner game-four"></div>
  </section>
</ng-container>

<ng-template #mobileView>
  <section>
    <p-galleria
      [value]="images"
      [numVisible]="5"
      [circular]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [containerStyle]="{ 'max-width': '900' }"
    >
      <ng-template pTemplate="item" let-image>
        <img [src]="image.itemImageSrc" style="width: 100%; display: block" />
      </ng-template>
    </p-galleria>
  </section>
</ng-template>

<section class="fourth-section">
  <h3><span>Perguntas</span> frequentes</h3>
  <app-question [questions]="questions"></app-question>
</section>

