<section class="first-section">
  <div class="overlay">
    <div class="text">
      <h1>Xbox series X</h1>
      <h3>PEDIDO ANTECIPADO</h3>
    </div>

    <div class="videogame-img"></div>
  </div>
</section>

<section class="second-section">
  <div class="controler-text">
    <h2><span>Desempenho</span> aperfeiçoado</h2>
    <p>
      O controle sem fio Xbox traz um design elegante, conforto refinado e
      compartilhamento instantâneo para um favorito comum.
    </p>
  </div>

  <img src="assets/images/png/controle-xbox.png" alt="Controle Xbox" class="controler-img">
</section>
